In [2]:
import pandas as pd
import numpy as np
import os
import glob
import xlsxwriter
import re
from datetime import datetime

In [3]:
DATA_PATH = os.path.join(os.getcwd(),'data/journals/WE 28APR'); DATA_PATH
search = '/*.xls'

files = glob.glob(DATA_PATH + search); files[3]

'/Users/patrickcullinane/Documents/Code/Cost_Analysis/data/journals/WE 28APR/Daily Journal 04_22_2019.xls'

In [203]:
#pd.read_excel(files[179]).iloc[49:]

In [ ]:
files.loc[df['Unnamed: 16'] == 'Badger']['A'].index.values

In [4]:
#date = text.iloc[13,0]; date

In [5]:
#data = {'date': [date], 'text': [text.iloc[21,0]]}
#df = pd.DataFrame.from_dict(data)

In [6]:
#df

In [4]:
case = []
for i in range(len(files)):
    text = pd.read_excel(files[i])
    temp = {'date': [text.iloc[13,0]], 'text':[text.iloc[21,0]]}
    case.append(temp)

In [5]:
df = pd.DataFrame.from_dict(case); df.head()

,date,text
0,[Date: Friday 4/26/2019],[Thunderstorms developed at 12 pm. All crews w...
1,[Date: Thursday 4/25/2019],"[7:39 AM, Clear, 50.01°F, 61% Humidity, 2.42 M..."
2,[Date: Wednesday 4/24/2019],"[4:17 PM, Clear, 68.88°F, 32% Humidity, 10.39 ..."
3,[Date: Monday 4/22/2019],[Rain began at approximately 2pm and continued...
4,[Date: Tuesday 4/23/2019],"[7:33 AM, Clear, 56.63°F, 77% Humidity, 2.29 M..."

In [66]:
# subs = pd.read_excel(files[1])
# subs

In [86]:
#subs = pd.read_excel(files[1]); subs
#crew = {'date': [text.iloc[13,0]], 'text':[text.iloc[21,0]]}
#subs.iloc[51,4]

#subs.iloc[51,4]



subs = []
for i in range(len(files)):
    for x in range(20):
        loc = 50
        text = pd.read_excel(files[i])
        temp = {'date': [text.iloc[13,0]],'subs': [text.iloc[loc + x,16]], 'size': [text.iloc[loc + x,9]]}
        subs.append(temp)

In [87]:
sub_df = pd.DataFrame.from_dict(subs); sub_df.head()

                        date size                        subs
0  [Date:  Friday 4/26/2019]  [1]                    [McPhee]
1  [Date:  Friday 4/26/2019]  [3]        [BOND Civil Foreman]
2  [Date:  Friday 4/26/2019]  [1]             [Labor Steward]
3  [Date:  Friday 4/26/2019]  [6]                       [nan]
4  [Date:  Friday 4/26/2019]  [1]  [Chief Operating Engineer]

In [6]:
case[0]

{'date': ['Date:  Friday 4/26/2019'],
 'text': ['Thunderstorms developed at 12 pm. All crews were sent home for the day due to the thunderstorm forecast projected for the entire day. \n\n11:24 AM, Overcast, 57.39°F, 88% Humidity, 6.64 MPH Winds\n12:15 PM, Rain, 55.77°F, 91% Humidity, 6.5 MPH Winds\n\nISBL:\nNo work was done in the ISBL\n\nPOWERHOUSE:\nBOND stripped the Electrical Cabinet Foundation and began backfilling around the foundation.\n\nNEW CONTROL ROOM:\nNo work was done in the New Control Building\n\nFLARE:\nNo work was conducted in the Flare. \n\nCONTAINMENT SUMP: \nConcrete pour was finished for the containment sump walls at ELE 1. Crews covered the wall to protect it from the pending thunderstorm. Continuity test was run throughout the pour (no issues were found). PVC water stop and keyway were installed in the wall. \n\nOTHER:\nN/A']}

In [69]:
#DATA_PATH
writer = pd.ExcelWriter('/Users/patrickcullinane/Desktop/subs.xlsx', engine='xlsxwriter')

sub_df.to_excel(writer)

writer.save()

In [55]:
DATA_PATH

'/Users/patrickcullinane/Documents/Code/thinkful/data'

In [88]:
sub_df_d = sub_df['date'].map(lambda x: str(x)[1:])
sub_df_d = sub_df_d.map(lambda x: str(x)[:-1]); sub_df_d.head()

0    'Date:  Friday 4/26/2019'
1    'Date:  Friday 4/26/2019'
2    'Date:  Friday 4/26/2019'
3    'Date:  Friday 4/26/2019'
4    'Date:  Friday 4/26/2019'
Name: date, dtype: object

In [8]:
df_d[0]

re.search(r'(\d+/\d+/\d+)', df_d[0]).group(0)

'4/26/2019'

In [89]:
sub_dates = []

for i in range(len(sub_df_d)):
    x = re.search(r'(\d+/\d+/\d+)', sub_df_d[i]).group(0)
    y = datetime.strptime(str(x),'%m/%d/%Y')
    dates.append(y)

In [90]:
sub_df_dates = pd.Series(dates)

In [191]:
#datetime_object = datetime.strptime(str(dates[0]),'%m/%d/%Y'); datetime_object

In [91]:
sub_df_t = sub_df['subs'].map(lambda x: str(x)[2:])
sub_df_t = sub_df_t.map(lambda x: str(x)[:-2]); sub_df_t.head()

0                      McPhee
1          BOND Civil Foreman
2               Labor Steward
3                           a
4    Chief Operating Engineer
Name: subs, dtype: object

In [92]:
sub_text_2 = []

for i in range(len(sub_df_t)):
    x = str(sub_df_t[i])
    sub_text_2.append(x)
    
sub_text_2 = pd.Series(sub_text_2)

In [93]:
sub_df_c = sub_df['size'].map(lambda x: str(x)[1:])
sub_df_c = sub_df_c.map(lambda x: str(x)[:-1]); sub_df_c.head()

0    1
1    3
2    1
3    6
4    1
Name: size, dtype: object

In [94]:
sub_df_3 =  pd.concat([sub_df_dates, sub_df_c, sub_df_t], axis=1)

In [95]:
sub_df_3.head()

           0 size                      subs
0 2019-04-26    1                    McPhee
1 2019-04-25    3        BOND Civil Foreman
2 2019-04-24    1             Labor Steward
3 2019-04-22    6                         a
4 2019-04-23    1  Chief Operating Engineer

In [96]:
writer = pd.ExcelWriter('/Users/patrickcullinane/Desktop/subs.xlsx', engine='xlsxwriter')

sub_df_3.to_excel(writer)

writer.save()

In [15]:
df_3.columns = ['date', 'text']

In [16]:
df_4 = df_3[df_3.text != 'Manpower Trade']; df_4.head() #removed instances of no diary entry

        date                                               text
0 2019-04-26  Thunderstorms developed at 12 pm. All crews we...
1 2019-04-25  7:39 AM, Clear, 50.01°F, 61% Humidity, 2.42 MP...
2 2019-04-24  4:17 PM, Clear, 68.88°F, 32% Humidity, 10.39 M...
3 2019-04-22  Rain began at approximately 2pm and continued ...
4 2019-04-23  7:33 AM, Clear, 56.63°F, 77% Humidity, 2.29 MP...

In [17]:
df_5 = df_4.reset_index(drop=True); df_5.head() #reset the index

        date                                               text
0 2019-04-26  Thunderstorms developed at 12 pm. All crews we...
1 2019-04-25  7:39 AM, Clear, 50.01°F, 61% Humidity, 2.42 MP...
2 2019-04-24  4:17 PM, Clear, 68.88°F, 32% Humidity, 10.39 M...
3 2019-04-22  Rain began at approximately 2pm and continued ...
4 2019-04-23  7:33 AM, Clear, 56.63°F, 77% Humidity, 2.29 MP...

In [266]:
concrete_data = '/CostCodeDetailReport.xlsx'

concrete = pd.read_excel(DATA_PATH + concrete_data); concrete.head()
concrete_2 = concrete.drop_duplicates(); concrete_2.head()

        Date  Cost Code   Cost Code Description Unit  Actual Quantity
0 2018-10-22      3.331  Place Concrete - Chute   CY              0.0
1 2018-10-22      3.332   Place Concrete - Pump   CY              0.0
2 2018-12-19      3.332   Place Concrete - Pump   CY             24.0
3 2018-12-23      3.332   Place Concrete - Pump   CY            131.0
4 2018-12-23      3.332   Place Concrete - Pump   CY              0.0

In [278]:
concrete_3 =  pd.concat([concrete['Date'], concrete['Cost Code']], axis=1); concrete_3.head()

        Date  Cost Code
0 2018-10-22      3.331
1 2018-10-22      3.332
2 2018-12-19      3.332
3 2018-12-23      3.332
4 2018-12-23      3.332

In [290]:
concrete_3.columns = ['date', 'pours']

In [309]:
pours = df_5.merge(concrete_3, on='date', how='left'); pours.head()

        date                                               text  pours
0 2019-03-01  Bond first civil crew worked on housekeeping a...  3.332
1 2019-04-12  7:26 AM, Overcast, 47.62°F, 50% Humidity, 2.87...    NaN
2 2019-04-13  Rain began on 4/12/2019 at about 6 pm. Rain ca...  3.332
3 2019-02-14  First civil crew graded the north utility rack...    NaN
4 2019-02-11  Bond Brothers Inc. - Mechanical Phase 3\n\n1. ...  3.332

In [1]:
# placements = pours['pours']

# pours_sort = ['no' if  else 'yes' for ele in placements]

# #placements

In [314]:
pours['pours'].isnull()

0      False
1       True
2      False
3       True
4      False
5       True
6      False
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17     False
18      True
19     False
20      True
21      True
22     False
23     False
24      True
25     False
26      True
27      True
28      True
29      True
       ...
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132    False
133     True
134     True
135     True
136    False
137    False
138     True
139     True
140    False
141    False
142     True
143     True
144    False
145    False
146    False
147     True
148     True
149     True
150     True
151     True
152     True
153     True
Name: pours, Length: 154, dtype: bool